<h1>Hola OnixOverflow</h1>
<%= link_to "crea una Nueva Pregunta", new_question_path %>

<% @questions.each do |question|%>
	<div class="panel panel-primary">
  		<div class="panel-heading">
    		<h4><%= question.title%></h4>
  		</div>
  		<div class="panel-body">
    		<blockquote class="blockquote mb-0">
      			<p> <%= link_to question.question, question%></p>
      			<footer class="blockquote-footer">Pregunto <%= question.user.email %>  hace <%= time_ago_in_words(question.created_at) %> </footer>
    		</blockquote>
    		<span class="glyphicon glyphicon-tags">Respuestas</span>   <span class="badge"><%= question.answers.count %></span>
    		<span class="glyphicon glyphicon-heart">Votos</span>   <span class="badge"><%= question.votes.count %></span>

  		</div>
	</div>
<%end %>



