<h2>Top Questions</h2>
<%= link_to "crea una Nueva Pregunta", new_question_path %>


  <ul class="list-group">
  <% @questions.each do |question|%>
    <div class="row list-group-item">
      <div class="col-sm-4 text-center"> 
        <div class="col-sm-6 "> 
          <div><%= question.answers.count %> </div>
          <div> Answers</div>
        </div>
        <div class="col-sm-6"> <%= question.votes.count %> 
        <div>Votes</div>
        </div>
      </div>
      <div class="col-sm-8">  <%= link_to question.title, question%> 
       <p>Pregunta realizada por <%= question.user.email%></p>
      </div>
    </div>
  <%end %>
  </ul>






